In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
ipl=pd.read_csv("matches.csv.csv")

In [ ]:
ipl.head()

In [ ]:
ipl.info()

In [ ]:
ipl.loc[[0,1]]

In [ ]:
ipl.iloc[0:5,3:7]

In [ ]:
ipl.head()

In [ ]:
ipl=pd.DataFrame(ipl,columns=['player_of_match','venue','neutral_venue'])

In [ ]:
#for specefic column
dub=ipl[ipl.duplicated('neutral_venue')]

In [ ]:
dub

In [ ]:
dub.count()

In [ ]:
pom=ipl['player_of_match']

In [ ]:
pom.count()

In [ ]:
pom.value_counts()

In [ ]:
ipl['neutral_venue'].value_counts()

In [ ]:
#libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
fifa=pd.read_csv('players_20.csv')
fifa.head()

In [ ]:
for col in fifa.columns:
    print(col)

In [ ]:
fifa['nationality_name'].value_counts()[0:5]

In [ ]:
plt.figure(figsize=(5,5))
plt.bar(list(fifa['nationality_name'].value_counts()[0:5].keys()),list(fifa['nationality_name'].value_counts()[0:5]))
plt.show()

In [ ]:
fifa[['short_name','wage_eur']].head()

In [ ]:
player_salery=fifa[['short_name','wage_eur']]

In [ ]:
player_salery.head()

In [ ]:
player_salery=player_salery.sort_values(by=['wage_eur'],ascending=False)

In [ ]:
player_salery.head()

In [ ]:
player_salery[0:5]

In [ ]:
plt.figure(figsize=(5,5))
plt.bar(list(player_salery['short_name']),list(player_salery['wage_eur']))
plt.show()

In [ ]:
fifa['nationality_name']=='Germany'

In [ ]:
germany=fifa[fifa['nationality_name']=='Germany']

In [ ]:
germany.head()

In [ ]:
germany=germany[['short_name','wage_eur']].sort_values(by=['wage_eur'],ascending=False)

In [ ]:
germany.head()

In [ ]:
plt.figure(figsize=(5,5))
plt.bar(list(germany['short_name'][0:5]),list(germany['wage_eur'][0:5]))
plt.show()

In [ ]:
#Find top 5 teams, top 5 defender , top 5 strickerrs , nationality , 


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('players_20.csv')

In [ ]:
df.head()

In [ ]:
for col in df.columns:
    print(col)

In [ ]:
df['nationality_name'].head()

In [ ]:
df['club_name'].head()

In [ ]:
argentina=df[df['nationality_name']=='Argentina']

In [ ]:
argentina.head()

In [ ]:
playr_salery=df[['short_name','wage_eur']]

In [ ]:
playr_salery.head()

In [ ]:
playr_salery=playr_salery.sort_values(by=['wage_eur'],ascending=False)

In [ ]:
playr_salery.head()

In [ ]:
plt.figure(figsize=(5,5))
plt.bar(list(playr_salery['short_name'])[0:5],list(playr_salery['wage_eur'])[0:5])
plt.show()

In [ ]:




import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
fif=pd.read_csv('players_20.csv')

In [ ]:
fif.head()

In [ ]:
for col in fif.columns:
    print(col)

In [ ]:
fif['nationality_name'].head()

In [ ]:
plt.figure(figsize=(5,5))
plt.bar(list(fif['nationality_name'].value_counts().keys()[0:5]),list(fif['nationality_name'].value_counts()[0:5]))
#plt.bar(list(fifa['nationality_name'].value_counts().keys()[0:5]),list(fifa['nationality_name'].value_counts()[0:5]))

In [ ]:
pl_s=fif[['short_name','wage_eur']]

In [ ]:
pl_s.head()

In [ ]:
pl_s=pl_s.sort_values(by=['wage_eur'],ascending=False)

In [ ]:
pl_s.head()

In [ ]:
plt.figure(figsize=(5,5))
plt.bar(list(pl_s['short_name'][0:5]),list(pl_s['wage_eur'][0:5]))

In [ ]:
fif['nationality_name']=='Germany'

In [ ]:
germany=fif[fif['nationality_name']=='Germany']

In [ ]:
germany.head()

In [ ]:
germany=germany[['short_name','wage_eur']]

In [ ]:
germany=germany.sort_values(by=['wage_eur'],ascending=False)

In [ ]:
germany.head()

In [ ]:
plt.figure(figsize=(5,5))
plt.bar(list(germany['short_name'][0:5]),list(germany['wage_eur'][0:5]))

In [ ]:
hashim_ali_khan =567

In [ ]:
hashim_ali_khan

In [ ]:
_1hashn=10

In [ ]:
_1hashn

In [ ]:
7*5

In [ ]:
a=7
b=7

In [ ]:
a==b

In [ ]:
print(a==b)

In [ ]:
a>=b

In [ ]:
a<=b

In [ ]:
a=4.6

In [ ]:
type(a)

In [ ]:
b=int(a)

In [ ]:
b

In [ ]:
type(b)

In [ ]:
float(b)

In [ ]:
c=float(b)

In [ ]:
c

In [ ]:
type(c)

In [ ]:
a+b+c

In [ ]:
a=2
b=5
c=7

In [ ]:
z="abc"

In [ ]:
z

In [ ]:
type(z)

In [ ]:
z='123'

In [ ]:
type(z)

In [ ]:
y=int(z)

In [ ]:
y

In [ ]:
type(y)

In [ ]:
a=3
b=5

# MUL Cal

In [9]:
a=int(input("Enter your first num,="))
b=int(input("Enter your 2nd num,="))
print(" =",a*b)

Enter your first num,=7
Enter your 2nd num,=8
 = 56

In [ ]:
a=float(input("1 val"))
b=float(input("2 val"))
print(a/b)

In [ ]:
a=5
b=7

In [ ]:
z=a/b

In [ ]:
z

In [ ]:
a=input("your val")

In [ ]:
type(a)

In [ ]:
a=34
b=80

In [ ]:
c=a+b/2

In [ ]:
c

In [ ]:
5**2

In [10]:
a=int(input("val"))
print("=",a**2)

val9
= 81

64

In [12]:
A=int(input("1 val "))
B=int(input("2 val

1 val9
2 val9
= 81